@font-face{
  font-family: 'Roboto';
  font-weight: normal;
  src: local('Roboto-Regular'),
  url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto-Bold'),
  url(./fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'Roboto';
  font-weight: lighter;
  src: local('Roboto-Light'),
  url(./fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face{
  font-family: 'SukhumvitSet';
  font-weight: normal;
  src: local('SukhumvitSet-Text'),
  url(./fonts/sukhumvit-set/SukhumvitSet-Text.ttf) format('truetype');
}

@font-face{
  font-family: 'SukhumvitSet';
  font-weight: bold;
  src: local('SukhumvitSet-Bold'),
  url(./fonts/sukhumvit-set/SukhumvitSet-Bold.ttf) format('truetype');
}

@font-face{
  font-family: 'SukhumvitSet';
  font-weight: lighter;
  src: local('SukhumvitSet-Light'),
  url(./fonts/sukhumvit-set/SukhumvitSet-Light.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SukhumvitSet', Helvetica Neue, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'SukhumvitSet', Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.pageDot {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: middle;
}

.page {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 10px;
  margin: 0px 5px;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.page-active {
  background-color: #c1c1c1;
}

.searchItem {
  display: none;
  padding: 10px 20px;
  cursor: pointer;
}

.searchItem:nth-child(-n+10){
  display: block;
}