.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    z-index: 100000;
}

.navbar > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.navbar > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;
}
  
.navbar > div > div:first-child > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
  
.navbar img {
    height: 35px;
}
  
.navbar ul {
    list-style: none;
    padding: 0;
}
  
.navbar ul li {
    display: inline;
    padding: 0px 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.navbar ul li:hover {
    color: #999999;
}

.navbar > div > div:last-child input{
    background: none;
    outline: none;
    border: none;
    background-color: #313131;
    color: #ffffff;
    padding: 10px 20px;
    width: 100%;
}

@media (max-width: 575.98px) {
    .navbar{
        position: relative;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar{
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar{
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar{
        position: relative;
    }
}

@media screen and (max-width: 991.98px) {
    .navbar .nav {
        display: none;
    }
    .navbar > div {
        grid-template-columns: 1fr;
    }
    .navbar > div > div {
        display: block;
    }
    .navbar > div > div:first-child > div:first-child {
        padding: 0px 20px;
        padding-top: 20px;
    }
}