.container{
  min-height: 100vh;
}

.containerInner {
  padding: 100px 60px;
  color: #e5e5e5;
}

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.item {
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  -webkit-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.5);
}

.item > div:first-child {
  padding-top: 141.4%;
}

.item .itemDescription{
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  transform: scaleY(0);
  -ms-transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  transition-delay: 0;
  transform-origin: bottom;
}

.item .itemDescription > div {
  padding: 20px 40px;
  text-align: center;
  font-weight: bold;
}

.item:hover {
  transform: scale(1.2);
  z-index: 10;
}

.item:hover .itemDescription{
  transform: scaleY(1);
  -ms-transform: scaleY(1);
}

.containerVideo {
  max-width: 1280px;
  margin: 100px auto;
  color: #e5e5e5;
}

.videoWrapper{
  padding-top: 60%;
  position: relative;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pages {
  margin: 40px auto;
  text-align: center;
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .videoContent{
    padding: 0px 40px;
  }
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 991.98px) {
  .containerInner{
    padding-top: 160px;
  }
  .containerVideo{
    margin: 0;
    padding: 160px 0px;
    padding-bottom: 60px;
  }
  .videoContent{
    padding: 0px 40px;
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .containerInner{
    padding-top: 0px;
  }
  .containerVideo{
    padding-top: 20px;
  }

  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .containerInner{
    padding-top: 0px;
  }
  .containerVideo{
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .containerInner{
    padding-top: 0px;
  }
  .containerVideo{
    padding-top: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .containerInner{
    padding-top: 0px;
  }
  .containerVideo{
    padding-top: 20px;
  }
}
